<a href="https://colab.research.google.com/github/apziko/football_players/blob/main/regression_project_football_players.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  !pip install pandas-profiling --upgrade

In [ ]:
#  !pip install markupsafe==2.0.1

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import seaborn as sns

# Wczytanie DS

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/danelic2019.csv', sep=';')

In [4]:
df

,Column1,player,nationality,position,squad,age,birth_year,value,height,position2,...,Pts/G,xG,xGA,xGDiff,xGDiff/90,Attendance,CL,WinCL,CLBestScorer,Season
0,21,Martin Aguirregabiria,es ESP,DF,AlavĂ©s,23,1996,4000000,178,Defender - Right-Back,...,1.03,37.0,53.2,-16.2,-0.43,"12,177",0,0,0.0,201920#
1,390,Oliver Burke,sco SCO,"MF,FW",AlavĂ©s,22,1997,4000000,188,Forward - Right Winger,...,1.03,37.0,53.2,-16.2,-0.43,"12,177",0,0,0.0,201920#
2,430,VĂ­ctor Camarasa,es ESP,MF,AlavĂ©s,25,1994,4000000,183,Midfielder - Central Midfield,...,1.03,37.0,53.2,-16.2,-0.43,"12,177",0,0,0.0,201920#
3,737,RubĂ©n Duarte,es ESP,DF,AlavĂ©s,23,1995,4000000,172,Defender - Left-Back,...,1.03,37.0,53.2,-16.2,-0.43,"12,177",0,0,0.0,201920#
4,770,Rodrigo Ely,br BRA,DF,AlavĂ©s,25,1993,1000000,188,Defender - Centre-Back,...,1.03,37.0,53.2,-16.2,-0.43,"12,177",0,0,0.0,201920#
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639,1997,Daniel Podence,pt POR,"FW,MF",Wolves,23,1995,12000000,165,Forward - Right Winger,...,1.55,47.1,34.8,12.3,0.32,24758,0,0,NaN,201920#
2640,2202,Romain SaĂŻss,ma MAR,DF,Wolves,29,1990,4000000,188,Defender - Centre-Back,...,1.55,47.1,34.8,12.3,0.32,24758,0,0,NaN,201920#
2641,2523,Adama TraorĂ©,es ESP,"FW,MF",Wolves,23,1996,25000000,178,Forward - Right Winger,...,1.55,47.1,34.8,12.3,0.32,24758,0,0,NaN,201920#
2642,2567,JesĂşs Vallejo,es ESP,DF,Wolves,22,1997,6000000,184,Defender - Centre-Back,...,1.55,47.1,34.8,12.3,0.32,24758,0,0,NaN,201920#
2643,2615,RĂşben Vinagre,pt POR,DF,Wolves,20,1999,9000000,174,Defender - Left-Back,...,1.55,47.1,34.8,12.3,0.32,24758,0,0,NaN,201920#

In [5]:
df.describe()

,Column1,age,birth_year,value,height,games,games_starts,minutes,goals,assists,...,GDiff,Pts,Pts/G,xG,xGA,xGDiff,xGDiff/90,CL,WinCL,CLBestScorer
count,2644.000000,2644.000000,2644.000000,2.644000e+03,2644.000000,2644.000000,2644.000000,2644.000000,2644.000000,2644.000000,...,2644.000000,2644.000000,2644.000000,2644.000000,2644.000000,2644.000000,2644.000000,2644.000000,2644.000000,2232.000000
mean,1363.432678,25.316944,1991.043116,9.570623e+06,181.593797,18.476172,14.329803,1285.914523,1.769289,1.231089,...,-0.502269,48.231467,1.368472,46.633812,46.901626,-0.266641,-0.006097,0.181165,0.009077,0.000448
std,789.855596,4.518445,67.264099,1.490187e+07,12.956865,10.939719,10.927727,947.346883,3.338358,2.011300,...,24.959058,16.780147,0.449502,13.636226,11.616728,18.711016,0.529283,0.385228,0.094859,0.021167
min,0.000000,0.000000,0.000000,5.000000e+01,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,-50.000000,13.000000,0.460000,26.800000,22.700000,-35.200000,-0.930000,0.000000,0.000000,0.000000
25%,680.750000,22.000000,1990.000000,1.000000e+06,178.000000,9.000000,4.000000,424.500000,0.000000,0.000000,...,-18.000000,37.000000,1.070000,37.300000,39.000000,-13.000000,-0.380000,0.000000,0.000000,0.000000
50%,1362.500000,25.000000,1993.000000,4.000000e+06,183.000000,19.000000,13.000000,1181.500000,0.000000,0.000000,...,-4.000000,45.000000,1.320000,42.700000,47.600000,-4.200000,-0.120000,0.000000,0.000000,0.000000
75%,2047.250000,28.000000,1997.000000,1.200000e+07,187.000000,28.000000,23.000000,2050.250000,2.000000,2.000000,...,14.000000,59.000000,1.630000,53.900000,54.500000,10.100000,0.330000,0.000000,0.000000,0.000000
max,2731.000000,41.000000,2004.000000,1.800000e+08,202.000000,38.000000,38.000000,3420.000000,36.000000,21.000000,...,68.000000,99.000000,2.610000,93.000000,84.100000,58.300000,1.780000,1.000000,1.000000,1.000000

In [13]:
df = df[df['age']>14]

In [14]:
df.drop(df.iloc[:,:3], axis=1, inplace=True)
df.drop(df[['foot']], axis=1, inplace=True)
df.drop(df[['squad']], axis=1, inplace=True)
df.drop(df[['position2']], axis=1, inplace=True)
df.drop(df[['birth_year']], axis=1, inplace=True)
df.drop(df[['Season']], axis=1, inplace=True)
df.drop(df[['CLBestScorer']], axis=1, inplace=True)
df.drop(df[['Attendance']], axis=1, inplace=True)
# df.drop(df.loc['foot'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df.isnull().values.any()

False

In [ ]:
df.dtypes.value_counts()

float64    238
int64      150
object       2
dtype: int64

In [ ]:
cat_ = df.columns.to_series().groupby(df.dtypes).groups

In [ ]:
df.sample(10)

,position,age,value,height,league,games,games_starts,minutes,goals,assists,...,GA,GDiff,Pts,Pts/G,xG,xGA,xGDiff,xGDiff/90,CL,WinCL
2281,FW,25,6000000,197,Ligue 1,26,24,2058,8,4,...,32,0,38,1.41,35.0,30.8,4.2,0.15,0,0
1852,DF,22,28000000,186,Ligue 1,7,5,480,1,0,...,24,51,68,2.52,70.9,22.7,48.2,1.78,1,0
279,"FW,MF",24,72000000,176,Bundesliga,31,26,2193,12,10,...,32,68,82,2.41,82.3,34.3,48.0,1.41,1,0
481,DF,30,1000000,187,Premier League,8,4,361,0,0,...,54,-15,41,1.08,41.2,54.5,-13.3,-0.35,0,0
415,MF,32,40000,182,Serie A,24,22,1869,2,0,...,79,-44,25,0.66,42.4,77.7,-35.2,-0.93,0,0
760,FW,28,3000000,183,La Liga,16,5,574,1,0,...,58,-31,25,0.66,33.0,44.6,-11.5,-0.30,0,0
1825,DF,19,1000000,192,Bundesliga,15,14,1261,0,0,...,74,-37,20,0.59,38.6,67.4,-28.7,-0.85,0,0
7,FW,27,1000000,185,La Liga,5,1,96,0,0,...,59,-25,39,1.03,37.0,53.2,-16.2,-0.43,0,0
2438,GK,30,14000000,187,La Liga,24,24,2096,0,1,...,53,-7,53,1.39,40.3,52.3,-12.0,-0.32,0,0
1508,MF,21,6000000,181,Bundesliga,22,10,898,0,4,...,40,26,65,1.91,66.4,42.4,23.9,0.70,1,0

In [ ]:
df['position'].value_counts()

DF       852
MF       570
FW       368
MF,FW    245
FW,MF    244
GK       195
DF,MF     76
MF,DF     56
DF,FW     21
FW,DF     17
Name: position, dtype: int64

In [ ]:
df = df.loc[df['position'].str.contains('FW', case=False)] #Sortowanie po ofensywnych

In [ ]:
c = df.corr().abs().unstack()

so = c.sort_values(kind="quicksort", ascending=False)
print(so['value'][0:50]) #najwieksza korelacja do value top 50

value                         1.000000
touches_att_pen_area          0.598144
shots_on_target               0.574917
npxg                          0.572134
touches_att_3rd               0.564519
gca                           0.561949
goals                         0.559121
xa                            0.552004
xg                            0.549880
gca_passes_live               0.547799
passes_completed_short        0.539592
passes_into_penalty_area      0.538908
sca_passes_live               0.534285
passes_received               0.534153
passes_short                  0.533972
shots_total                   0.533851
passes_ground                 0.533344
carries                       0.524544
pass_targets                  0.519787
sca                           0.518976
sca_dribbles                  0.510042
W                             0.507880
GDiff                         0.504020
dribbles                      0.503221
touches_live_ball             0.498666
passes_live                   0.498517
passes_completed              0.497971
GF                            0.497765
xGDiff/90                     0.497729
players_dribbled_past         0.496661
carry_progressive_distance    0.496521
Pts                           0.496399
carry_distance                0.494601
dribbles_completed            0.491622
Pts/G                         0.490393
touches                       0.489210
through_balls                 0.487893
xGDiff                        0.487232
progressive_passes            0.483634
assists                       0.482686
passes                        0.480184
passes_intercepted            0.479907
xG                            0.472254
assisted_shots                0.464213
passes_total_distance         0.455636
passes_completed_medium       0.450273
passes_pressure               0.446641
passes_medium                 0.444536
CL                            0.442100
touches_mid_3rd               0.440197
dtype: float64

In [ ]:
cc = so['value'][0:91]

In [ ]:
c_col = [i for i in cc.keys()] #lista kolumnt do korelacji z value

In [ ]:
df = df[c_col]

In [ ]:
# df = df.loc[df['position'].str.contains('DF', case=False)] #Sortowanie po ofensywnych
# df = df.loc[df['position']=='DF'] #Sortowanie po ofensywnych

In [ ]:
df

,value,touches_att_pen_area,shots_on_target,npxg,touches_att_3rd,gca,goals,xa,xg,gca_passes_live,...,npxg_xa_per90,gca_shots,xg_xa_per90,tackles_won,passes_oob,passes_switches,blocks,passes_offsides,passes_other_body,pens_won
1,4000000,57,9,3.2,242,2,1,1.2,3.2,2,...,0.27,0,0.27,5,4,3,25,1,2,0
7,1000000,2,0,0.2,21,0,0,0.0,0.2,0,...,0.23,0,0.23,2,2,1,1,0,0,0
8,5000000,135,28,9.8,526,13,11,2.2,10.5,7,...,0.39,5,0.41,16,33,15,39,14,33,1
11,45000,1,1,0.0,2,0,0,0.0,0.0,0,...,0.10,0,0.10,0,0,0,0,0,0,0
16,1600000,17,4,0.5,126,0,1,0.6,0.5,0,...,0.11,0,0.11,8,4,5,18,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2632,2000000,0,0,0.0,2,0,0,0.0,0.0,0,...,0.00,0,0.00,0,0,0,1,0,0,0
2633,40000000,155,26,9.6,628,6,7,3.7,9.6,4,...,0.53,1,0.53,21,14,22,17,4,7,0
2636,11000000,44,6,2.0,280,8,3,2.3,2.0,4,...,0.42,0,0.42,5,8,14,5,1,4,0
2639,12000000,16,4,1.6,84,2,1,0.4,1.6,0,...,0.62,0,0.62,2,3,0,5,1,0,1
2641,25000000,118,4,3.5,767,15,4,6.7,3.5,11,...,0.35,0,0.35,3,19,36,13,1,7,0

In [ ]:
df = df[df['value'] > 50000]

In [ ]:
# bez corr
# from sklearn.preprocessing import OneHotEncoder

# encoder = OneHotEncoder()
# encoder_df = pd.DataFrame(encoder.fit_transform(df[['league']]).toarray())
# for column in encoder_df:
#     df[column] = encoder_df[column].tolist()
    

# # df2.drop('league', axis=1, inplace=True)
# df.drop('position', axis=1, inplace=True)
# df.drop('league', axis=1, inplace=True)

# df.head()

In [ ]:
df.isnull().values.any()

False

In [ ]:
df.dtypes.value_counts()

int64      80
float64    11
dtype: int64

In [ ]:
df.sample(5)

,value,touches_att_pen_area,shots_on_target,npxg,touches_att_3rd,gca,goals,xa,xg,gca_passes_live,...,npxg_xa_per90,gca_shots,xg_xa_per90,tackles_won,passes_oob,passes_switches,blocks,passes_offsides,passes_other_body,pens_won
815,48000000,173,40,9.7,686,15,11,5.5,11.3,8,...,0.52,2,0.57,30,24,27,27,4,12,2
276,10000000,10,1,0.6,103,3,1,0.2,0.6,2,...,0.23,0,0.23,3,5,9,5,0,0,1
975,3000000,68,11,4.1,424,8,3,2.8,5.6,5,...,0.35,1,0.43,17,14,18,12,10,12,0
2165,60000,4,1,0.1,20,0,0,0.4,0.1,0,...,0.51,0,0.51,1,0,0,1,0,0,0
550,65000,4,0,0.0,14,0,0,0.3,0.0,0,...,0.28,0,0.28,0,0,0,0,0,0,0

# Profiler

In [ ]:
# prof = ProfileReport(df_2.reset_index(drop=True), infer_dtypes=False) #domyslnie sam interpretuje typy (categoryczne) infer_dtypes=False zmieni na numeryczny

In [ ]:
# prof

# Podział na zbiory treningowy/testowy

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df_y = df.pop('value')
df_x = df

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=0)

In [ ]:
X_train.sample(5)

,touches_att_pen_area,shots_on_target,npxg,touches_att_3rd,gca,goals,xa,xg,gca_passes_live,passes_completed_short,...,npxg_xa_per90,gca_shots,xg_xa_per90,tackles_won,passes_oob,passes_switches,blocks,passes_offsides,passes_other_body,pens_won
904,24,3,1.0,80,2,1,0.4,1.0,1,27,...,0.33,0,0.33,2,4,0,4,1,6,1
528,0,0,0.1,7,0,0,0.0,0.1,0,10,...,0.18,0,0.18,0,0,0,0,0,1,0
644,72,21,3.6,613,9,6,3.9,3.6,3,292,...,0.30,0,0.30,27,25,47,41,3,10,1
251,110,12,3.7,503,3,7,1.8,3.7,1,322,...,0.48,0,0.48,10,8,8,16,3,6,0
2424,16,4,0.7,130,2,0,0.7,0.7,2,81,...,0.20,0,0.20,4,8,3,8,2,4,0

# StandardScaler

In [ ]:
from sklearn.preprocessing import StandardScaler

scal = StandardScaler()
train_s = scal.fit_transform(X_train)
test_s = scal.transform(X_test)

X_train_s = pd.DataFrame(train_s, index=X_train.index, columns=X_train.columns)
X_test_s = pd.DataFrame(test_s, index=X_test.index, columns=X_test.columns)

In [ ]:
X_train_s

,touches_att_pen_area,shots_on_target,npxg,touches_att_3rd,gca,goals,xa,xg,gca_passes_live,passes_completed_short,...,npxg_xa_per90,gca_shots,xg_xa_per90,tackles_won,passes_oob,passes_switches,blocks,passes_offsides,passes_other_body,pens_won
562,-0.543202,0.316637,-0.453620,-0.156732,-0.548349,-0.421336,-0.798261,-0.485154,-0.570778,0.061778,...,-0.572865,-0.565377,-0.628291,0.011610,-0.052766,0.234462,0.211685,-0.354859,0.450019,-0.477675
161,-1.069643,-0.938398,-0.964285,-1.142101,-0.923475,-0.624247,-0.896689,-0.912386,-0.853573,-1.069446,...,0.500846,-0.565377,0.403263,-0.978737,-1.114578,-0.763910,-1.165088,-0.795235,-0.863876,-0.477675
1020,-0.524400,-0.938398,-0.907544,-0.846490,-0.548349,-0.827159,-0.306120,-0.864915,-0.287984,-0.735221,...,-0.107590,-0.565377,-0.181284,-0.648622,-0.849125,-0.705182,-0.782651,-0.795235,-0.535402,-0.477675
2024,-0.693614,-0.669462,-0.623842,-0.284009,-0.173223,-0.421336,0.038378,-0.627564,0.277606,-0.124617,...,-0.179171,-0.565377,-0.250055,0.451764,-0.052766,-0.352816,-0.400214,0.525892,-0.206928,-0.477675
1021,-0.449194,-1.028043,-0.141548,-0.534457,-0.360786,-0.015513,-0.650619,-0.224068,-0.287984,-1.075874,...,0.107152,-0.565377,0.025026,-0.978737,-0.583672,-0.587727,-1.165088,-0.795235,0.285782,0.813233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,0.829306,1.033800,0.936522,0.401643,0.389466,0.390310,0.382876,1.223773,0.277606,0.511697,...,-0.071800,-0.565377,0.128182,0.231687,1.141773,-0.294088,0.670610,0.085516,1.106966,3.395048
622,-1.126048,-1.028043,-0.992655,-1.174946,-0.923475,-0.827159,-0.945903,-0.936121,-0.853573,-1.056592,...,-1.396044,-0.565377,-1.419149,-1.088776,-1.114578,-0.705182,-0.629676,-0.795235,-0.863876,-0.477675
2026,-1.013239,-1.028043,-0.935914,-1.129784,-0.923475,-0.827159,-0.945903,-0.888650,-0.853573,-1.030882,...,-0.644446,-0.565377,-0.697061,-0.868699,-0.981852,-0.822638,-1.012113,-0.795235,-0.699639,-0.477675
1813,-0.900430,-0.848752,-0.879174,-1.010718,-0.548349,-0.624247,-0.847475,-0.675035,-0.287984,-0.883052,...,-0.680236,-0.565377,0.265722,-1.088776,-1.114578,-0.763910,-0.935626,0.085516,-0.699639,-0.477675
2195,-0.373988,-0.131590,-0.538731,0.303106,0.389466,-0.218425,0.087592,-0.556359,0.560400,1.135155,...,-0.644446,-0.565377,-0.697061,2.322419,1.539953,3.347033,0.823585,0.525892,0.778493,-0.477675

In [ ]:
X_test_s

,touches_att_pen_area,shots_on_target,npxg,touches_att_3rd,gca,goals,xa,xg,gca_passes_live,passes_completed_short,...,npxg_xa_per90,gca_shots,xg_xa_per90,tackles_won,passes_oob,passes_switches,blocks,passes_offsides,passes_other_body,pens_won
1988,-0.731217,-0.848752,-0.935914,-0.723319,-0.548349,-0.624247,-0.798261,-0.888650,-0.570778,-0.651665,...,-1.073930,-0.565377,-1.109683,-0.318506,-0.716399,-0.705182,-0.400214,0.085516,-0.863876,-0.477675
661,-0.881628,-1.028043,-0.935914,-1.027141,-0.923475,-0.827159,-0.798261,-0.888650,-0.853573,-0.992318,...,-0.465494,-0.565377,-0.525136,-0.978737,-1.114578,-0.822638,-1.165088,-0.795235,-0.863876,-0.477675
176,-0.956834,-1.028043,-0.935914,-0.518034,-0.548349,-0.827159,-0.552191,-0.888650,-0.570778,-0.471697,...,-0.894978,-0.565377,-0.937757,0.561802,-0.052766,-0.294088,-0.247239,0.085516,-0.699639,-0.477675
1554,0.284063,0.047701,0.113785,-0.292221,-0.173223,-0.015513,-0.502977,0.535455,-0.853573,-0.445988,...,-0.071800,-0.565377,0.437648,-0.978737,-0.185492,-0.646454,-0.323727,-0.354859,1.106966,0.813233
97,-0.562003,-0.579816,-0.113177,-0.830067,-0.735912,-0.421336,-0.650619,-0.200333,-0.853573,-0.696657,...,0.536637,-0.565377,0.437648,-0.318506,-0.849125,-0.822638,-0.782651,-0.795235,-0.699639,-0.477675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,2.841065,2.109545,2.808958,1.292580,1.327280,2.825247,1.268729,2.410527,1.974374,0.704519,...,1.467187,0.745816,1.434817,-0.648622,0.478140,-0.235360,0.670610,-0.354859,1.271203,0.813233
1357,0.020843,-0.041944,-0.113177,0.434489,-0.173223,-0.624247,0.235234,-0.200333,-0.005189,0.203181,...,-0.000219,-0.565377,-0.078129,0.231687,1.009046,0.997923,0.288173,0.525892,-0.535402,-0.477675
776,-1.032040,-0.759107,-0.964285,-1.018930,-0.923475,-0.827159,-0.552191,-0.912386,-0.853573,-0.934471,...,0.178733,-0.565377,0.093797,-0.978737,-0.981852,-0.763910,-0.935626,-0.795235,-0.863876,-0.477675
360,-0.242378,-0.131590,0.369117,-0.485189,-0.548349,0.593221,-0.404548,0.393044,-0.570778,0.003931,...,-0.143380,-0.565377,-0.078129,-0.538583,-0.716399,-0.705182,-0.323727,-0.795235,0.942729,-0.477675
125,0.678894,0.495928,0.198895,-0.008927,-0.360786,0.187398,-0.552191,0.250634,-0.005189,-0.169609,...,-0.501284,-0.565377,-0.421980,0.011610,-0.318219,-0.117905,0.211685,0.525892,0.778493,-0.477675

In [ ]:
# X_train = X_train_s
# X_test = X_test_s

In [ ]:
# # do corr
from sklearn.decomposition import PCA
pca = PCA(n_components=20)
pca.fit(X_train_s)
X_train = pca.transform(X_train_s)
X_test = pca.transform(X_test_s)

In [ ]:
# # bez cor
# from sklearn.decomposition import PCA
# pca = PCA(n_components=25)
# pca.fit(X_train_s)
# X_train = pca.transform(X_train_s)
# X_test = pca.transform(X_test_s)

In [ ]:
# bez scalera
# from sklearn.decomposition import PCA
# pca = PCA(n_components=20)
# pca.fit(X_train)
# X_train = pca.transform(X_train)
# X_test = pca.transform(X_test)

In [ ]:
X_train

array([[-1.58491336, -2.32772886,  0.81748853, ...,  0.2838515 ,
        -0.49894362,  0.60324305],
       [-8.09274781,  7.02544873,  1.13220643, ..., -0.60466643,
        -0.11302786,  0.10926898],
       [-5.94880791,  1.42905552,  0.95250922, ...,  0.3515078 ,
        -0.11478334, -0.4675335 ],
       ...,
       [-8.24489033,  4.08165572,  1.11424997, ..., -0.51616611,
         0.2640275 ,  0.32423085],
       [-7.2558454 ,  1.10093071,  0.51361761, ...,  1.54608271,
         0.08228269, -0.37234331],
       [ 6.70013653,  1.25281978,  5.75228204, ...,  0.25183134,
        -0.80214466, -0.84531672]])

In [ ]:
X_test

array([[-5.67772524, -0.17182919,  1.08593508, ...,  0.61791365,
        -0.09534481,  0.37797852],
       [-8.39741094, -1.59418987,  0.62888226, ..., -0.32138129,
        -0.26547257,  0.30722944],
       [-4.08872663, -0.64153327,  1.82875249, ..., -0.08887152,
         0.03677683,  0.75303852],
       ...,
       [-8.05294038, -2.70947026,  0.43730357, ..., -0.29395244,
        -0.38238207,  0.64809795],
       [-1.89457913, -1.08329579, -2.15460078, ..., -0.46164861,
         0.25372137, -0.60157892],
       [-0.83529577, -3.31065311, -2.24766808, ...,  0.08431722,
        -0.23148509,  0.04103195]])

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
model.score(X_train, y_train)

0.5632800242971736

In [ ]:
model.score(X_test, y_test)

0.5593618522811223

In [ ]:
# %matplotlib inline
# from sklearn.linear_model import LinearRegression
# from yellowbrick.model_selection import LearningCurve

# clf = LinearRegression()
# sizes = np.linspace(0.3, 1.0, 10)
# visualizer = LearningCurve(clf, scoring='r2', train_sizes=np.linspace(0.1,1.0,10))

# visualizer.fit(X_train, y_train)
# visualizer.show()

In [ ]:
# from sklearn.ensemble import RandomForestRegressor

# from yellowbrick.model_selection import ValidationCurve

# rfr = RandomForestRegressor()

# viz = ValidationCurve(
#     rfr, param_name="min_samples_split",
#     param_range=np.arange(1, 100, 2), cv=3)

# viz.fit(X_train, y_train)
# viz.show()

In [ ]:
from sklearn.linear_model import Ridge
rng = np.random.RandomState(0)
clf = Ridge(alpha=1.0)
clf.fit(X_train, y_train)
Ridge()

Ridge()

In [ ]:
clf.score(X_train, y_train)

0.5632797484059977

In [ ]:
from sklearn.model_selection import cross_val_score, cross_val_predict
lm = LinearRegression()
scores = cross_val_score(lm, X_train, y_train, scoring='r2', cv=12)
scores

array([0.47807989, 0.6563337 , 0.54340782, 0.56963128, 0.12414537,
       0.72686533, 0.25951357, 0.35703601, 0.58962319, 0.2821723 ,
       0.68796282, 0.5683028 ])

In [ ]:
scores[5]

0.7268653262655721

In [ ]:
y_pred = cross_val_predict(lm, X_test, y_test, cv=5)

In [ ]:
df_preds = pd.DataFrame({'Actual': y_test.squeeze(), 'Predicted': y_pred.squeeze()})
print(df_preds)

        Actual     Predicted
1988   1000000  9.904516e+05
661    1000000  4.730312e+06
176    1000000 -2.036120e+06
1554  21500000  1.038168e+07
97    11000000  7.576289e+06
...        ...           ...
162   36000000  4.416691e+07
1357   9000000  9.529643e+06
776    3000000  3.547474e+06
360    1000000  1.213071e+07
125   20000000  6.797169e+06

[164 rows x 2 columns]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

In [ ]:
from sklearn import datasets, linear_model
from sklearn.model_selection import cross_val_predict
lasso = linear_model.Lasso()
y_pred = cross_val_predict(lasso, X_train, y_train, cv=3)

In [ ]:
lasso.fit(X_train, y_train)
lasso.score(X_train, y_train)

0.5632800242971111

In [ ]:
lasso.score(X_test, y_test)

0.5593617787851258

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

lr = LinearRegression(positive=True)
lr.fit(X_train_poly, y_train)

lr.score(X_train_poly, y_train)

0.7417135389028711

In [ ]:
lr.score(X_test_poly, y_test)

0.5205674198256676

In [ ]:
from sklearn.linear_model import Ridge
rng = np.random.RandomState(0)
clf = Ridge(alpha=2)
clf.fit(X_train_poly, y_train)
Ridge()
clf.score(X_train_poly, y_train)

0.8585627432743613

In [ ]:
clf.score(X_test_poly, y_test)

-0.018687520635291444

# RANSAC bez StandardScaler (na zbiorze treningowym) na 1 zmiennej

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RANSACRegressor

In [ ]:
ransac = RANSACRegressor(LinearRegression(),
                         max_trials = 200,
                         min_samples = 200,
                         random_state = 0)

In [ ]:
ransac.fit(X_train, y_train)

RANSACRegressor(base_estimator=LinearRegression(), max_trials=200,
                min_samples=200, random_state=0)

In [ ]:
print(f'train score: {ransac.score(X_train, y_train)}') 
print(f'validation score: {ransac.score(X_test, y_test)}')

train score: 0.4996538749037237
validation score: 0.5271837624426436

# RandomForestRegressor (z podzialem na zbiory treningowy/walidacyjny/testowy)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X_2, y_2, test_size=0.2, random_state=0)

In [ ]:
rfr = RandomForestRegressor(n_estimators=15, max_features=10, max_depth=4) #10 drzewek, 2 cechy, 5 podzialy na glebokosc

In [ ]:
rfr.fit(X_train, y_train)

RandomForestRegressor(max_depth=4, max_features=10, n_estimators=15)

In [ ]:
# fig = plt.figure(figsize=(25, 20))
# tree.plot_tree(rfr.estimators_[1], feature_names = rfr.feature_names_in_, filled=True)
# fig.savefig("decistion_tree.png")

In [ ]:
# rfr.feature_names_in_

In [ ]:
# rfr.feature_importances_

In [ ]:
rfr.score(X_train, y_train)

0.7093665576391099

In [ ]:
rfr.score(X_test, y_test)

0.3769274066870534

# Grid Search

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.model_selection import GridSearchCV

In [ ]:
rf = RandomForestRegressor()

In [ ]:
params = {'n_estimators': [1,2,3,5,7,8,9,10], 'max_depth': [4,5,6,7], 'min_samples_split': [5,10,15,20], 'max_features': [2,3,4,5,6,7,8,9]}
gs = GridSearchCV(estimator=rf, param_grid=params)

In [ ]:
gs.fit(X_train, y_train)

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid={'max_depth': [4, 5, 6, 7],
                         'max_features': [2, 3, 4, 5, 6, 7, 8, 9],
                         'min_samples_split': [5, 10, 15, 20],
                         'n_estimators': [1, 2, 3, 5, 7, 8, 9, 10]})

In [ ]:
gs.best_estimator_

RandomForestRegressor(max_depth=7, max_features=7, min_samples_split=15,
                      n_estimators=7)

In [ ]:
gs.best_score_

0.4736661439337966

Yellowbrick

In [ ]:
from sklearn.linear_model import LinearRegression
from yellowbrick.model_selection import LearningCurve

clf = gs.best_estimator_
# sizes = np.linspace(0.3, 1.0, 10)
visualizer = LearningCurve(clf, scoring='r2', train_sizes=np.linspace(0.3,1.0,10))

visualizer.fit(X_train, y_train)
visualizer.show()

Heatmapa korelacji

In [ ]:
# dfCorr = df.corr()
# filteredDf = dfCorr[((dfCorr >= .5) | (dfCorr <= -.5)) & (dfCorr !=1.000)]
# plt.figure(figsize=(30,10))
# sn.heatmap(filteredDf, annot=True, cmap="Reds") plt.show()

Sprawdzić czy wszystkie kolumny są liczbowe
jeżeli tak to popracować nad overfittingiem 
sprawdzić korelację tych 30 kolumn heatmapą - jeżeli są mocno skorelowane kolumny to wywalić te mocno skorelowane

**Nie wyszło**
Propozycje rozwiązań:
1 hot n-coding

In [ ]:
from sklearn.neural_network import MLPRegressor

clf = MLPRegressor(hidden_layer_sizes=(75,50,25),batch_size=120, random_state=42, max_iter=3000, activation='relu')
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPRegressor(batch_size=120, hidden_layer_sizes=(75, 50, 25), max_iter=3000,
             random_state=42)

In [ ]:
clf.score(X_train, y_train)

0.6264075981858562

In [ ]:
clf.score(X_test, y_test)

0.5563369989850806

In [ ]:
#clf = MLPRegressor(hidden_layer_sizes=(50,50,20,10,4),batch_size=100, random_state=42, max_iter=2000, activation='relu')
#68/56
# clf = MLPRegressor(hidden_layer_sizes=(50,20,10,4,2),batch_size=100, random_state=42, max_iter=2000, activation='relu')
# 67/60
# clf = MLPRegressor(hidden_layer_sizes=(75,50,25),batch_size=100, random_state=42, max_iter=2000, activation='relu')
# 64/60
# dla corr
# 63/62